<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450689632092-snm3u2hfrkcvsjgnfdt9u7heqpntjt8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450689632092-snm3u2hfrkcvsjgnfdt9u7heqpntjt8f</string>
	<key>API_KEY</key>
	<string>AIzaSyAhRESpXrpr5FZluqr5mk4hWfC5GSN2s6w</string>
	<key>GCM_SENDER_ID</key>
	<string>450689632092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authDemoFirebase</string>
	<key>PROJECT_ID</key>
	<string>auth-demo-5fd12</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-demo-5fd12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450689632092:ios:2c9ccde58c659f77c72399</string>
</dict>
</plist>